<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TGG-DatabaseName" value="TGGDB"/>
	</appSettings>
	<connectionStrings>
		<add name="AtlasConnectionString" connectionString="mongodb+srv://Groep_5:nZXdY1BN67c3hP8U@cluster0.wc7y2si.mongodb.net/test" />
	</connectionStrings>
</configuration>